.container, .container-fluid {
    padding: 1rem;
}

h1 {
    text-align: center;
    margin-bottom: 1rem;
}

.login-box {
    max-width: 480px;
    width: 100%;
    margin: 0 auto;
}

.table-responsive {
    margin-bottom: 1rem;
}

.table-responsive .table {
    margin: 0;
}

.table td, .table th {
    vertical-align: middle;
}

.g-signin2 .abcRioButton {
    margin: 0 auto;
}
