<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Test de Google y AWS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/third-party/bootstrap.min.css">
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <div class="container">
      <h1>Error</h1>
      <p th:text="${message}"></p>
      <p>Haga clic <a href="/">aquí</a> para volver a la página principal.</p>
    </div>
  </body>
</html>
