<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <title>Test de Google y AWS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/third-party/bootstrap.min.css">
    <link rel="stylesheet" href="/third-party/iziToast.min.css">
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <!-- Subir archivo -->
    <div id="modal" class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <form class="modal-content" action="/resource/upload" method="post" enctype="multipart/form-data">
          <div class="modal-header">
            <h5 class="modal-title">Subir un archivo</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="type">Tipo de recurso:</label>
              <select id="type" name="type" class="form-control">
                <option th:each="resourceType: ${resourceTypes}"
                        th:value="${resourceType.code}"
                        th:text="${resourceType.name}"></option>
              </select>
            </div>
            <div class="form-group">
              <label for="project">Proyecto:</label>
              <select id="project" name="project" class="form-control">
                <option value="">Seleccione un proyecto</option>
                <option th:each="project: ${projects}"
                        th:value="${project.id}"
                        th:text="${project.name}"></option>
              </select>
            </div>
            <div class="form-group">
              <label for="applicant">Postulante:</label>
              <select id="applicant" name="applicant" class="form-control">
                <option value="">Seleccione un postulante</option>
                <option th:each="applicant: ${applicants}"
                        th:value="${applicant.id}"
                        th:text="${applicant.name}"></option>
              </select>
            </div>
            <p>Seleccione un archivo PDF, DOC o DOCX y haga clic en Aceptar.</p>
            <input type="file" id="file" name="file" accept=".pdf,.doc,.docx">
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Aceptar</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          </div>
        </form>
      </div>
    </div>
    <!-- Confirmar eliminación -->
    <div id="delete" class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-sm">
        <form class="modal-content" action="/resource/delete" method="post">
          <div class="modal-header">
            <h5 class="modal-title">Confirmar eliminación</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <input type="hidden" id="id" name="id" value="">
            <div>¿Está seguro(a) de eliminar este recurso?</div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Aceptar</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          </div>
        </form>
      </div>
    </div>
    <!-- Lista de archivos -->
    <div class="container">
      <h1>Lista de recursos</h1>
      <div th:if="${alert}"
           th:class="${alert.error} ? 'alert alert-danger' : 'alert alert-success'"
           th:text="${alert.message}"
           role="alert"></div>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Tipo</th>
              <th>Proyecto</th>
              <th>Postulante</th>
              <th>Nombre</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="resource: ${resources}">
              <td th:text="${resource.type} ? ${resource.type.name} : ''"></td>
              <td th:text="${resource.data.project} ? ${resource.data.project.name} : ''"></td>
              <td th:text="${resource.data.applicant} ? ${resource.data.applicant.name} : ''"></td>
              <td>
                <a th:href="'resource/' + ${resource.data.id}"
                   th:text="${resource.data.name}"></a>
              </td>
              <td class="text-right">
                <button class="btn btn-danger" data-toggle="modal" data-target="#delete"
                        th:data-id="${resource.data.id}">Eliminar</button>
              </td>
            </tr>
            <tr th:if="${#lists.isEmpty(resources)}">
              <td colspan="5">No se encontraron resultados.</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="text-center">
        <button class="btn btn-primary" data-toggle="modal" data-target="#modal">Nuevo recurso</button>
        <a class="btn btn-secondary" href="/logout">Cerrar sesión</a>
      </div>
    </div>
    <script src="/third-party/jquery.min.js"></script>
    <script src="/third-party/bootstrap.min.js"></script>
    <script src="/third-party/iziToast.min.js"></script>
    <script src="/utility.js"></script>
    <script src="/resource.js"></script>
  </body>
</html>
